:root {
  // colors
  --color-off-white: #eeecec;
  --color-off-black: #181818;
  --color-highlight: #4ff2a4;
}

body {
  background-color: var(--color-off-black);
  color: #eeecec;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 900;
  letter-spacing: 6px;
  text-transform: uppercase;
}

h3 {
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: 900;

  @media screen and (min-width: 1024px) {
    font-size: 1.875rem;
    line-height: 2.1875rem;
  }
}

button {
  background-color: transparent;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
  }
}

a.btn-1 {
  display: inline-block;
  color: var(--color-off-white);
  background-color: var(--color-off-black);
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid var(--color-off-white);
  padding: 0.5rem 0.75rem;

  &:visited {
    color: var(--color-off-white);
  }
}

.container {
  max-width: 82rem;
  padding: 0 1rem;
  margin: 0 auto;
}
